* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

main { 
    width: 50%;
    margin: auto;
}

h1 { 
  margin-top: 1rem;
}

.input-container { 
  border-top: 0.5vh solid rgb(177, 176, 176);
  width: 100%;
}

.label { 
  width: 100%;  
  cursor: pointer;
}

.input-header {
  height: 5rem; 
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.checkbox {
  appearance: none;
}

.image-container { 
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  height: 0;
  transition: 0.2s;
}

label:has(>.checkbox:checked) .img { 
  width: 60%;
  height: 20rem;
}

label:has(>.checkbox:checked) .close { 
  transform: rotate(45deg);
}